* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Circular Std";
  color: #374151;
}

img {
  max-width: 100%;
}

/* fonts */
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd-Medium.woff2");
}

@import url(_text.scss);

.container,
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {

  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {


  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {

  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {

  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {

  .container {
    max-width: 1320px;
  }
}

.row {
  >div {
    @media (min-width:576px) {
      padding: 0 15px;
    }
  }
}

.nth-row-reverse {
  flex-direction: column-reverse;
  text-align: center;

  @media (min-width:768px) {
    flex-direction: unset;
    text-align: unset;
  }

  &:nth-child(odd) {
    @media (min-width:768px) {
      flex-direction: row-reverse;
    }

  }
}
.accordion-transition{
  transition: all .4s ease;
}
.svg-icon{
  transform: rotate(180deg);
}
button.carousel__next, button.carousel__prev{
  width: 32px;
  height: 32px;
  background-color: #6f5fb3;
  color: #311b92;
  font-size: 1.125rem;
  border-radius: 100%;
}
.fadein{
  animation: fadeIn .5s linear;
  // background-color: red;
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.target{
  animation: fadeup 1s linear;
}
@keyframes fadeup {
 
  0% {
    opacity: 0;
    transform: translate3d(0,30%,0);
  }
  
  100% {
    opacity: 1;
    transform: none;
  }
}
.whitespace-normal{
  white-space: normal;
}